html, body{
    margin:0px;
    font-size: 100%;
}
.bgDeco{
    width: 100%;
    height: 100vh;
    background-color: #172F49;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:600;
}
.mainContainer {
    background-color: #FCFCFC;
    border-radius: 2.5em;
    flex-direction: column;
    display: flex;

    align-items: center;
    justify-content: center;

    padding: 10vh;
    font-family: "Cabin"; 
    width: 15em;
}
.logo{
    color: #F0D097;
    font-family: "Cabin"; 
    font-style: italic;
    font-size: 3em;
}
.logInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5;
}
.submitButton{
    width: 100%;
    background-color: #325886;
    border: none;
    color: #F0D097;
    border-radius: 2.5em;
    font-size: 1.2em;
    padding: 0.5em 1.5rem; /* x , y */
}
.field{
    border-radius: 2.5em;
    border-style: none;
    background-color: #D9D9D9;
    font-size: 1.2em;
    padding: 0.5em;
    text-align: center;
    color: #203E62;
}
.nameField{
    background-color: rgba(50, 88, 134, 0.5);
    color: #FFFFFF;
    border-radius: 2.5em;
    border-style: none;
    font-size: 1.2em;
    padding: 0.5em;
    text-align: center;
}
.nameField::placeholder{
    color: #FFFFFF;
    opacity: 1;
}
.nameField.field::-ms-input-placeholder{
    color: #FFFFFF;
}
.forgotPassword{
    border: none;
    background-color: #FCFCFC;
}
.field::placeholder {
    color: #203E62;
    opacity: 1; /* Firefox */
}
.field::-ms-input-placeholder { /* Edge 12 -18 */
    color: #203E62;
}
.forgotPassword{
    font-size: 0.9em;
    color: #325886;
}
.orDivider{
    font-size: 1.2em;
    color: #203E62;
}