@font-face {
    font-family: 'Cabin', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Cabin);
}

@font-face {
    font-family: 'Actor', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Cabin);
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    height: 100%;
}

main {
    height: calc(100% - 110px)
}

#root {
    height: 100%;
}

.meeting {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
}

