@font-face {
    font-family: 'Cabin', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Cabin);
}

@font-face {
    font-family: 'Actor', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Cabin);
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    height: 100%;
}

main {
    height: calc(100% - 110px)
}

#root {
    height: 100%;
}

.titlebar {
    background-color: #203E62;
    height: 100px;
}

.title {
    color: #F0D097;
    font-family: 'Cabin';
    font-size: 48px;
    font-weight: 500;
    font-style: italic;
    padding: 1.2%;
}

.divider {
    background-color: #F0D097;
    height: 10px;
}

.meeting {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
}

.participant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    overflow: scroll;
    flex-grow: 1;
    height: 100%;
}

.participant-view {
    display: grid;
    margin: 5%;
    width: 220px;
    height: 145px;
}

.participant-video {
    width: 220px;
    height: 155px;
    border-radius: 30px;
    background-color: rgb(46, 46, 157);
    grid-area: 1 / 1;
}

.participant-name {
    grid-area: 1 / 1;
    background-color: rgba(217, 217, 217, 0.58);
    max-width: 60px;
    max-height: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Actor';
    margin-top: 55%;
    margin-left: 10%;
}

.chat {
    width: 17%;
    margin-right: 1%;
    margin-top: 1%;
    height: 95%;
    background-color: #D9D9D9;
    border-radius: 34px;
}

.chat-input {
    border: 1.5px solid black;
    border-radius: 34px;
    position: absolute;
    bottom: 3%;
    width: 15.5%;
    height: 6%;
    margin: 0.5%;
    padding-left: 8px;
    font-size: 18px;
}

.bottom-buttons-container {
    height: 8%;
    width: 100%;
    margin-top: 1%;
    position: absolute;
    bottom: 0;
}

.leave-button {
    float: right;
    font-size: 18px;
    border-radius: 15px;
    margin-right: 1%;
    width: 130px;
    height: 60px;
    background-color: #F0D097;
}

.chat-button {
    background-color: #D9D9D9;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1%;
    float: right;
}

.speak-button {
    height: 60px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 48.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-button {
    height: 60px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 51.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}